#Age
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
#Country
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
#email
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
#fnames
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
#Gender
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
#Education
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
#Gender
{
    background-color: aqua;
    padding: 2px;
    text-align: center;
    margin: 10px;
    border: 2px solid;
}
form{
    color:red ;
    text-align: center;
}
h1{
    text-align:center ;
}